
<div class="row">
    <div class="col">
      <app-add-race-modal>

      </app-add-race-modal>
    </div>
    <div class="col text-right ml-1">
        <label>Current Time:</label>
        {{currentTime}}
      </div>

  </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <tbody>
                  <tr>
                    <td>Track</td>
                    <td>Date</td>
                    <td>Race Number</td>
                    <td>Post Time</td>
                    <td>Minutes</td>
                    <td>Action</td>
                  </tr>
                </tbody>
                <tr *ngFor="let race of races()">
                  <td>
                      <a routerLink="/race/{{race.track}}/{{race.date}}/{{race.number}}" >
                        {{ race.track }}
                      </a>
                  </td>
                  <td>
                      <a routerLink="/race/{{race.track}}/{{race.date}}/{{race.number}}" >
                        {{ race.date }}
                      </a>
                  </td>
                  <td>
                      <a routerLink="/race/{{race.track}}/{{race.date}}/{{race.number}}" >
                        {{ race.number }}
                      </a>

                  </td>

                  <td>
                      <a routerLink="/race/{{race.track}}/{{race.date}}/{{race.number}}" >
                        {{ race.time }}
                      </a>
                  </td>
                  <td>
                      <a routerLink="/race/{{race.track}}/{{race.date}}/{{race.number}}" >
                        {{race.minutesToPost }}
                      </a>
                  </td>
                  <td>
                    <app-delete-race-modal
                      [raceToDelete] = "race"
                      (raceDeleted) = "raceDeleted($event)"
                    ></app-delete-race-modal>
                  </td>
                  </tr>
                  </table>
        </div>
      </div>
