input.odds {
  width: 3em;
}

input.track {
  width: 3em;
}

input.race-number {
  width: 2em;
}

.btn-trainer {
  color: #212529;
  background-color: #347C17;
  border-color: #347C17;
}

.btn-speed {
  color: #212529;
  background-color: #008080;
  border-color: #008080;
}

.btn-class {
  color: #212529;
  background-color: #4CC417;
  border-color: #4CC417;
}

span.post-number.trainer-odds-pick {
  border: 2px solid green;
  border-radius: 5px;
  font-weight: bold;
  padding:.5em;
}

span.post-number.odds-pick {
  border: 2px solid blue;
  border-radius: 5px;
  font-weight: bold;
  padding:.5em;
}

/* saddle cloth colors */
span.saddle-cloth {
  padding: .25em;
}

span.saddle-cloth-1 {
  background-color: red;
  color:white;
}

span.saddle-cloth-2 {
  background-color: white;
  color:black;
}

span.saddle-cloth-3 {
  background-color: blue;
  color:white;
}

span.saddle-cloth-4 {
  background-color: yellow;
  color:black;
}

span.saddle-cloth-5 {
  background-color: green;
  color:white;
}

span.saddle-cloth-6 {
  background-color: black;
  color:gold;
}

span.saddle-cloth-7 {
  background-color: orange;
  color:black;
}

span.saddle-cloth-8 {
  background-color: pink;
  color:black;
}

span.saddle-cloth-9 {
  background-color: turquoise;
  color:black;
}

span.saddle-cloth-10 {
  background-color: purple;
  color:white;
}

span.saddle-cloth-11 {
  background-color: gray;
  color:red;
}

span.saddle-cloth-12 {
  background-color: lime;
  color:black;
}

span.saddle-cloth-13 {
  background-color: brown;
  color:white;
}

span.saddle-cloth-14 {
  background-color: maroon;
  color:yellow;
}

span.saddle-cloth-15 {
  background-color: khaki;
  color:black;
}

span.scratched-heading-unscratched {
  color:grey;
}
span.scratched-heading-ucratched {
  color:black;
}

