input.odds {
  width: 3em;
}

input.track {
  width: 3em;
}

input.race-number {
  width: 2em;
}



span.post-number.trainer-odds-pick {
  border: 2px solid green;
  border-radius: 5px;
  font-weight: bold;
  padding:.5em;
}

span.post-number.odds-pick {
  border: 2px solid blue;
  border-radius: 5px;
  font-weight: bold;
  padding:.5em;
}
