<div class="row">
    <div class="col"><a routerLink="/races" >All Races</a></div>
  <div class="col">
    <label>Track:</label>
    {{race.track}}
  </div>
  <div class="col">
      <label>Race No.:</label>
      {{race.number}}
      <a href="{{externalRaceUrl}}" target="_blank">
        Equibase
        </a>
    </div>

    <div class="col">
        <label>Date:</label>
        {{race.date}}
      </div>
      <div class="col">
          <label>Post Time:</label>
          {{raceTimeHhmma}}
        </div>
        <div class="col">
            <label>MTP:</label>
            {{raceModel.minutesToPost}}
            <span class="btn-container">
                <button
                  class="btn btn-sm btn-outline-secondary ml-1 "
                  (click)="incrementMtp()"
                >
                  <i class="fas fa-plus"></i></button
                >
                <button
                  class="btn btn-sm btn-outline-secondary ml-1"
                  (click)="decrementMtp()"
                >
                  <i class="fas fa-minus"></i>
                </button>
              </span>
          </div>
  </div>
<!-- <div class="row">

  <div class="col text-right mr-1">
    <button class="btn btn-sm btn-outline-danger  " (click)="testSetup()">
      Test Data
    </button>
  </div>
</div> -->
<div class="row">
  <div class="col">
    <table class="table">
      <tbody>
        <tr>
          <td>No.</td>
          <td>Trainer</td>
          <td>5 Min Odds
            <br/><button class="btn btn-sm btn-outline-info  " (click)="copyOdds()">
                Set
              </button>
          </td>
          <td>1 Min Odds</td>
          <td>No.</td>
        </tr>
      </tbody>
      <tr *ngFor="let entry of race.entries">
        <td>
          <span class="saddle-cloth" [ngClass]="getSaddleClothClass(entry.postNumber)">{{ entry.postNumber }}</span>
          <span class="ml-1">
            <input type="checkbox" *ngIf="enableScratches" [(ngModel)]="entry.isScratched" (click)="toggleIsScratched(entry)" >
            <span *ngIf="enableScratches && !entry.isScratched" class="scratched-heading-unscratched text-sm font-weight-light  ml-1">Scr</span>
            <span *ngIf="entry.isScratched" class="scratched-heading-scratched text-sm   ml-1">SCRATCHED</span>
          </span>
        </td>
        <td>
          <button *ngIf="!entry.isScratched"
            [ngClass]="{
              'btn-trainer': entry.isTrainerGood,
              'btn-outline-secondary': !entry.isTrainerGood
            }"
            class="btn btn-sm"
            (click)="toggleTrainer(entry)"
          >
            T
          </button>
          <button *ngIf="!entry.isScratched"
            [ngClass]="{
              'btn-warning btn-speed': entry.isSpeedGood,
              'btn-outline-secondary': !entry.isSpeedGood
            }"
            class="btn btn-sm ml-3 mr-3"
            (click)="toggleSpeed(entry)"
          >
            S
          </button>
          <button *ngIf="!entry.isScratched"
            [ngClass]="{
              'btn-class': entry.isClassGood,
              'btn-outline-secondary': !entry.isClassGood
            }"
            class="btn btn-sm"
            (click)="toggleClass(entry)"
          >
            C
          </button>
        </td>
        <td>
          <div *ngIf="!entry.isScratched" class="row">
            <div class="col ">
              <input
                type="text"
                class="odds"
                [(ngModel)]="entry.fiveMinuteOdds.displayed"
              />
            </div>
            <div class="col">
              <span class="btn-container">
                <button
                  class="btn btn-sm btn-outline-secondary ml-1 "
                  (click)="incrementOdds(entry, true)"
                >
                  <i class="fas fa-plus"></i></button
                ><br />
                <button
                  class="btn btn-sm btn-outline-secondary ml-1"
                  (click)="decrementOdds(entry, true)"
                >
                  <i class="fas fa-minus"></i>
                </button>
              </span>
            </div>
          </div>
        </td>
        <td>
          <div  *ngIf="!entry.isScratched" class="row">
            <div class="col">
              <input
                type="text"
                class="odds ml-2"
                [(ngModel)]="entry.oneMinuteOdds.displayed"
              />
            </div>
            <div class="col">
              <span class="btn-container">
                <button
                  class="btn btn-sm btn-outline-secondary ml-1 "
                  (click)="incrementOdds(entry, false)"
                >
                  <i class="fas fa-plus"></i></button
                ><br />
                <button
                  class="btn btn-sm btn-outline-secondary ml-1"
                  (click)="decrementOdds(entry, false)"
                >
                  <i class="fas fa-minus"></i>
                </button>
              </span>
            </div>
          </div>
        </td>

        <td>
          <span
            class="post-number ml-2 "
            *ngIf="oddsMethodItem(entry)"
            [class.trainer-odds-pick]="
              oddsMethodItem(entry).isBet && entry.isTrainerGood
            "
            [class.odds-pick]="
              oddsMethodItem(entry).isBet && !entry.isTrainerGood
            "
            >{{ entry.postNumber }}</span
          >
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col">
    <label>Entries:</label>
    <input type="number" (change)="resetTotalEntries()" [(ngModel)]="totalEntries"/>
  </div>
  <div class="col">
            <span class="m3-1 mb-1">Scratch Horses</span>
            <ui-switch [(ngModel)]="enableScratches"></ui-switch>
    </div>
  </div>

  <div class="row">
      <div class="col">
        <label>Track Notes:</label><br/>
        <textarea  [(ngModel)]="track.notes" [readonly]="!isTrackEditMode"
        rows="40" cols="100" ></textarea>
        <!-- <span *ngIf="!isTrackEditMode">{{track.notes}}</span><br/> -->
            <button class="btn btn-sm btn-outline-info "  *ngIf="!isTrackEditMode" (click)="setTrackEditMode(true)">
                Edit
            </button>
            <button class="btn btn-sm btn-info " *ngIf="isTrackEditMode" (click)="saveTrackNotes()">
                Save
            </button>
      </div>
      </div>
